.wix-madefor-display {
  font-family: "Wix Madefor Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: Wix Madefor Display, sans-serif;
    color: black;
    margin: 0;
    color: whitesmoke;
}

#hero{
    background-color: #746D5E;
    padding: 100px;
}

#hero-h1 {
    margin-bottom: 20px;
}

span{
    border-bottom: 3px solid black;
}

#hero-h3 {
    margin-bottom: 0px;
}

#hero-h4 {
    margin-top: 0px;
}

#content{
    background-color: #71635C;
    margin: 0;
}

#about-me {
    display: flex;
    justify-content: space-around;
    padding: 15px 0 18px 0;
}

#projects {
    display: flex;
    justify-content: space-around;
    padding-top: 18px;
}

#content img {
    height: 200px;
    border-radius: 10px;
}

#about-me img {
    border-radius: 50%;
}

#links {
    color: black;
    padding: 15px 0 15px 0;
    display: flex;
    justify-content: space-around;
}

#links img {
    border-radius: 10px;
    border: 2px solid #71635C;
}

#links a {
    color: black;
}

#links a:hover {
    color: #71635C;
}

#links a:visited {
    color: black;
}

a {
    color: whitesmoke;
    text-shadow: 0 0 1px black;
}

a:hover {
    color: #231A18;
    text-shadow: 0 0 1px black;   
}

a:visited {
    color: whitesmoke;
    text-shadow: 0 0 1px black;
}